.btn{
    outline: 0;
    color:$color-white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    &:disabled{
        background-color: $color-grey10;
        cursor: not-allowed;
    }
    &-sm{
        padding: 12px 24px;
        // background-color: $secondary-color;
    }
    &-md{
        padding: 15px 70px;
        background-color: $primary-color;
    }
    &-lg{
        padding: 20px 30px;
        background-color: $primary-color;
    }
}