.btn{
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:disabled{
        background-color: $color-grey10;
        cursor: not-allowed;
    }
    &-tsm{
        padding: 10px 20px;
        background-color: $aqua-marine;
        border-radius: 2px;
        color:$color-white;
    }
    &-sm{
        padding: 10px 28px;
        background-color:$color-grey70;
        text-transform: uppercase;
        color:$color-white;
    }
    &-md{
        padding: 15px 70px;
        background-color: $primary-color;
        text-transform: uppercase;
        color:$color-white;
    }
    &-lg{
        padding: 10px 20px 10px 10px;
        border-right: 1px solid $color-white;
    }
}
