.fx{
    
    &-dc{
        display: flex;
        flex-direction: column;
    }

    &-vc{
        display: flex;
        align-items: center;
    }

    &-bc{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-sb{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    &-sa{
        display: flex;
        justify-content: space-around;
    }
    &-w{
        display: flex;
        flex-wrap: wrap;
    }
    &-c{
        display: flex;
        justify-content:center;
    }
    &-fx_start{
        display: flex;
        align-items: flex-start;
    }
}

.reveal {
    position: relative;
    opacity: 0;
    &.active{
        opacity:1;
    }
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-bottom {
    &.active{
        animation: fade-bottom .5s ease-in;
    }
   
  }
  
  .brb-anim{
    background-image: linear-gradient(#fff, #fff);
    background-size: 0% (5%);
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    background-position: 0 calc(100% - 0%);
    &:hover{
       background-size: 100% (4px);
    }
  }

.c{
    &-pc{
        color: $primary-color;
    }
    
    &-white{
          color: $color-white;
    }
    &-white10{
        color: $color-white10;
    }
    &-black{
          color: $color-black;
    }
    &-brightblue{
        color: $color-brightblue;
    }
    &-grey10{
          color: $color-grey10;
    }
    &-grey40{
        color: $color-grey40;
  }
    &-grey20{
        color: $color-grey20;
    }
    &-grey50{
        color: $color-grey50;
    }
    &-grey60{
        color: $color-grey60;
    }
    &-grey70{
        color:$color-grey70;
    }
    &-grey80{
        color:$color-grey80;
    }
    &-orange{
        color:$color-orange;
    }
    &-pastelred{
        color:$color-pastelred;
    }
}
.w{
    &-light{
        font-weight: 300;
    }
    &-medium{
        font-weight: 500;
    }
    &-sbold{
        font-weight: 600;
    }
    &-bold{
        font-weight: 700;
    }
}

.hide-svg {
    width: 0;
    height: 0;
    opacity: 0;
    svg {
        display: none;
    }
}

.mgbt-60{
    margin-bottom: 60px;
}
.mgbt-30{
    margin-bottom: 30px;
}
.mgbt-24{
    margin-bottom: 24px;
}
.mgbt-12{
    margin-bottom: 12px;
}
.mgbt-8{
    margin-bottom: 8px;
}
.mglt-8{
    margin-left: 8px;
}
.mglt-24{
    margin-left:24px;
}
.mgrt-18{
    margin-right: 18px;
}
.mgrt-10{
    margin-right: 10px;
}

.pdlt-40{
    padding-left: 40px;
}

.text-left{
    text-align: left;
}

.bg-primary{
    background-color: $primary-color;
}
.bg-green{
    background-color: $color-green;
}
.bg-purple{
    background-color: $color-purple;
}
.bg-brightblue{
    background-color: $color-brightblue;
}
.bg-iris{
    background-color: $color-iris;
}
.bg-pink{
    background-color: $color-pink;
}
.bg-paleblue{
    background-color: $color-paleblue;
}
.bg-white40{
    background-color: $color-white40;
}
.progress-c-green{
    &::-webkit-progress-value{
        background-color: $color-green;
    }
}
.progress-c-primary{
    &::-webkit-progress-value{
        background-color: $primary-color;
    }
}
.progress-c-brightblue{
    &::-webkit-progress-value{
        background-color: $color-brightblue;
    }
}
.progress-c-iris{
    &::-webkit-progress-value{
        background-color: $color-iris;
    }
}
.progress-c-purple{
    &::-webkit-progress-value{
        background-color: $color-purple;
    }
}
.progress-c-pink{
    &::-webkit-progress-value{
        background-color: $color-pink;
    }
}