$primary-color:#4ad5f6;
$color-green:#00cfc0;
$color-brightblue:#007ace;
$color-paleblue:#dfe3e8;
$color-iris:#5c6ac4;
$color-purple:#9c6ade;
$color-pink:#de6a93;
$color-white:#ffffff;
$color-white10:#fafafa;
$color-white30:#f9fafb;
$color-white40:#f4f6f8;
$color-white20:rgba(0, 0, 0, 0.1);
$color-black:#000;
$color-orange:#ff9f00;
$color-grey:#adadad;
$color-grey10:#c4cdd5;
$color-grey20:#919eab;
$color-grey40:#454f5b;
$color-grey50:#454545;
$aqua-marine:#47c1bf;
$color-grey60:#212b36;
$color-grey70:#637381;
$color-grey80:#6a7c92;
$red:#FF0000;
$green:#00FF00;