.app-wrapper {
    padding: 14% 0 8% 0;
    font-size: 0;

    .app-content {
        width:35%;
        margin-right: 15%;
        display: inline-block;
        .text-tsm {
            text-transform: uppercase;
        }

        .heading-lg,
        .text-md {
            max-width: 300px;
        }

    }

    .input-container {
        position: relative;
        margin-bottom:30px;
        .input-icon{
            height: 24px;
            width: 24px;
            position: absolute;
           left: 10px;
           bottom: 5px;
           pointer-events: none
        }

       

        input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;

            &::placeholder {
                font-size: 15px;
                color: $color-grey60;
            }

        }
    }
   

    .input-wrapper {
        width: 45%;
        margin-left: 5%;
        display: inline-block;
        vertical-align: top;
        .icon-check{
            width: calc(50% - 15px);
            .checkbox-icon{
                height: 78px;
                width:46px;
                position:relative;
                bottom:10px;
                left: 16px;
                display: block;

            }
        }
       
        .input-container-sm{
            padding-left: 50px;
        }
        input{
            &::placeholder{
                font-size: 14px;
                color: $color-grey;
            }
        }
        
    }
    .err-msg{
        bottom: -20px;
    }
}
input {   
    width: 100%;
    padding:12px 52px;
    outline: 0;
    border: 1px solid $color-grey;
    border-radius: 3px;
    &:focus{
        border-color: $primary-color;
        box-shadow: 0 0 0 1px $primary-color;
    }
    &:hover{
        border-color: $color-purple;
        box-shadow: 0 0 0 1px $color-purple;
    }
    
}