.app-wrapper {
    padding: 14% 0 8% 0;
    font-size: 0;
    display: none;

    .app-content {
        width:35%;
        margin-right: 15%;
        display: inline-block;
        .text-tsm {
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .heading-lg,
        .text-md {
            max-width: 300px;
        }

    }

    .input-container {
        position: relative;
        margin-bottom:30px;
        // .check-wrapper{
        //     .input-container{
        //         margin-bottom: 12px;
        //     }
        // }
        

        // &.focus{
        //     border-color: $primary-color;
        // }
        .input-icon{
            height: 24px;
            width: 24px;
            position: absolute;
           left: 10px;
           bottom: 5px;
           pointer-events: none
        }

        input {   
            width: 100%;
            padding:12px 52px;
            outline: 0;
            border: 1px solid $color-grey;
            border-radius: 3px;
            &:focus{
                border-color: $primary-color;
                box-shadow: 0 0 0 1px $primary-color;
            }
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;

            &::placeholder {
                font-size: 15px;
                color: $color-grey60;
            }

        }
    }

    .input-wrapper {
        width: 45%;
        margin-left: 5%;
        display: inline-block;
        vertical-align: top;
        .icon-check{
            width: calc(50% - 15px);
            .checkbox-icon{
                height: 78px;
                width:46px;
                position:relative;
                bottom:10px;
                left: 16px;
                display: block;

            }
        }
        // .icon-check > .checkmark{

        // }
        .input-container-sm{
            padding-left: 50px;
        }
        input{
            &::placeholder{
                font-size: 14px;
                color: $color-grey;
            }
        }
    }
    //     .check{
    //         position: relative;
    //         margin-bottom: 12px;
    //         padding:12px 0 12px 52px;
    //         border: 1px solid $color-grey10;
    //         border-radius: 3px;
    //         background-color: $color-white;
    //         display: inline-block;
    //         width: 100%;
    //         cursor: pointer;
    //         font-size: 22px;
    //         -webkit-user-select: none;
    //         -moz-user-select: none;
    //         -ms-user-select: none;
    //         user-select: none;
    //         &:focus{
    //             border-color: $primary-color;
    //             box-shadow: 0 0 0 1px $primary-color;
    //         }
    //     }
    //     input[type="checkbox"]{
    //         position: absolute;
    //         opacity: 0;
    //         cursor: pointer;
    //         height: 0;
    //         width: 0;

    //     }
    //     .checkmark {
    //         position: absolute;
    //         bottom: 10px;
    //         left: 15px;
    //         height: 30px;
    //         width: 30px;
    //         background-color: transparent;
    //         border: 1px solid $color-grey10;
    //         &::after{
    //             content: "";
    //             position: absolute;
    //             display: none;
    //         }
    //         &::after{
    //             left: 9px;
    //             top: 5px;
    //             width: 5px;
    //             height: 10px;
    //             border:1px solid $primary-color;
    //             border-width: 0 3px 3px 0;
    //             -webkit-transform: rotate(45deg);
    //             -ms-transform: rotate(45deg);
    //             transform: rotate(45deg);
    //         }
    //       }
    //       .check input:checked ~ .checkmark {
    //         border-color: $primary-color;
    //         box-shadow: 0 0 0 1px $primary-color;
    //         &::after{
    //             display: block;
    //         }
    //     }
    // }
}