.footer{
    // display: none;
    padding: 48px 0 86px 0;
    background-color: $color-white40;
    .social-media-icon{
        height: 33px;
        width: 33px;
        display: block;
    }
    .social-media{
        margin-right: 20px;
    }
    .footer-wrapper{
        margin-bottom: 54px;
        ul{
            width: 25%;
            &:nth-child(2){
                width: 20%;
            }
            &:nth-child(4){
                width: 30%;
            }
            
             a{
                 display: inline-block;
             }
             .phone{
                 height: 14px;
                 width: 14px;
                 fill:$color-grey20;
             }
         
         .logo{
             display: inline-block;
             img{
                 height: 39px;
                 width: 186px;
                 display: block;
             }
         }
        }
        .footer-text{
            line-height: 28px;
        }
    }
  
}