.content-1{
    display: none;
   text-align: center;
   max-width: 536px;
   padding: 15% 0 30% 0;
   margin: auto;
   .heading-lg{
       margin-bottom: 50px;
   }
   .input-wrapper{
       font-size: 0;
       margin: 0 20px;
       .input-field{
        padding: 12px 16px;
        width: calc(50% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
        border: 1px solid $color-grey10;
        border-radius: 3px;
        outline: 0;
        &::placeholder{
            color: $color-grey;
            font-size: 14px;
        }
        &:first-child{
            margin-left: 0;
        }
        &:focus{
            border-color: $primary-color;
        }
    }
    .button{
        text-align:center;
    }
   }
}