.content-1 {
    text-align: center;
    max-width: 536px;
    padding: 15% 0 30% 0;
    margin: auto;

    .heading-lg {
        margin-bottom: 50px;
    }

    .input-wrapper {
        font-size: 0;
        margin: 0 20px;   

        .button {
            text-align: center;
        }
    }
    
}
.input-field {
    padding: 12px 16px;
    margin-left: 20px;
    margin-bottom: 40px;
    border: 1px solid $color-grey10;
    border-radius: 3px;
    outline: 0;
    display: block;
    width: 100%;

    &::placeholder {
        color: $color-grey;
        font-size: 14px;
    }

    &:first-child {
        margin-left: 0;
    }

    &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 1px $primary-color;
    }

    &:hover {
        border-color: $color-purple;
        box-shadow: 0 0 0 1px $color-purple;
    }
}
.form-control {
    display: inline-block;
    width: 238px;
    position: relative;

    &:first-child {
        margin-right: 20px;
    }
}
.err-msg {
    color: $red;
    position: absolute;
    bottom: 20px;
    left: 5px;
    visibility: hidden;
}
.error {
    border:1px solid $red;
    box-shadow: 0 0 0 1px $red;
    
}
.success {
    border:1px solid $green;
    box-shadow: 0 0 0 1px $green;
    
}