.rates{
    text-align: center;
    .dd-rates{
        padding: 10px 14px;
        border: 1px solid #c4cdd5;
        border-radius: 3px;
        background-color: #ffffff;
        width: 200px;
    }
    .rate-head-wrapper{
        background-color: $color-paleblue;
        padding: 14px 20px;
    }
    .question-icon{
        width: 18px;
        height: 18px;
        fill: #4ad5f6;
        vertical-align: middle;
        margin-left: 8px;

    }
    .rate-head{
       width: 20%;
        &:nth-child(2){
            width: calc(15% - 10px);
        }
        &:nth-child(3){
            width: calc(15% - 10px);
        }
        &:last-child{
            width: calc(10% - 10px);
        }
    }
}