.content-5{
    padding: 14% 0 8% 0;
    text-align: center;
    
    .result-2{
        background-color: $color-white;
        padding: 16px 16px 0;
        border-radius: 3px;
        width: calc(65% - 24px);
        .rate-list-wrapper{
            width: 100%;
            padding: 20px 0;
            border-bottom: 2px solid $color-paleblue;
            &:first-child{
                padding-top: 0;
            }
            .rate-lists{
                width: 25%;
                text-align: left;
                &:nth-child(3){
                    text-align: center;
                }
                &:last-child{
                    text-align: right;
                }
            }
            
        }
        .rate-fees-head{
            width: 100%;
            .question{
                width: 24px;
                height: 24px;
                fill: $primary-color;
                vertical-align: middle;
                margin-right: 12px;
            }    
            .rate-fees{
                padding: 24px 0;
                border-bottom: 2px solid $color-paleblue;
            }
        }
        .pills{
           border-radius: 20px;
           padding: 6px;
           margin-right: 4px;
        }
        progress{
            height: 4px;
            width:64px;
            margin-left: 6px;
            vertical-align: middle;
            appearance: none;
            &::-webkit-progress-value {
                border-radius: 30px;
              }
              &::-webkit-progress-bar{
                  background-color: $color-white20;
                  border-radius: 30px;
              }
            i{
                display: inline-block;
            }
        }
    }
    .range{
        width:35%;
        background-color: $color-white;
        padding: 32px 10px;
        border-radius: 3px;
        .check-wrapper{
            padding-bottom: 24px;
            border-bottom: 2px solid $color-paleblue;
            .check-list{
                width: 50%;
                text-align: left;
            }
        }
        .range-wrapper{
            padding: 16px;
            .value{
                padding: 4px 12px;
                border: 1px solid $color-grey20;
                border-radius: 3px;
                margin-left: 24px;
            }
        }
    }
}
